@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --preto: #202022;
    --cinza: #a0a0a0;
    --cinzaEscuro: #646464;
    --branco: #ececec;
    --azulClaro: #00BBC9;
    --azulEscuro: #00747C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    background-color: var(--branco);
    color: var(--preto);
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    line-height: normal;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
}
  

header{
    background-color: var(--azulEscuro);
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 8px 10px 2px rgba(0, 0, 0, 0.199);
}

#logo{
    grid-row: 1;
    grid-column: 1;
    margin: 20px;
    cursor: pointer;
    display: flex;
}

#logo>p{
    margin-left: 10px;
    align-self: center;
    font: 2em 'Bebas Neue', sans-serif;
    color: var(--branco);
}

#menu{
    height: 40px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    align-self: center;
    margin: 10px;
    cursor: pointer;
}

.iconeMenu{
    height: 4px;
    border-radius: 10px;
    background-color: var(--branco);
    transition: .5s;
}

#barra1{
    width: 40px;
    align-self: flex-end;
}

nav{
    display: none;
    grid-row: 2;
    grid-column: 1 / span 2;
}

#navList{
    display: flex;
    justify-content: space-around;
    color: var(--branco);
}

.navItems{
    width: 100%;
    height: 60px;
    cursor: pointer;
}

.navItems>p{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 1.3em 'Bebas Neue', sans-serif;
}

.navItems:hover{
    background-color: rgba(255, 255, 255, 0.24);
    transition: .2s;
}

.active>nav{
    display: block;
}

.active>#menu>#barra1{
    width: 50px;
    transform: translateY(10px) rotate(45deg);
}

.active>#menu>#barra2{
    transform: translateY(-10px) rotate(-45deg);
}

#sobre{
    padding: 10px;
    height: 500px;
    color: var(--preto);
    display: flex;
    flex-direction: column;
    background-image: url(pexels-sean-whang-804269.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#sobre>h1{
    margin: 10px 20px;
    font: 3em 'Bebas Neue', sans-serif;
}

#sobre>p{
    margin: 10px 20px;
    width: 80%;
    font: italic 1.3em Arial, sans-serif;
}

#contatoBtn{
    margin: 30px 10px 0 0;
    width: 160px;
    height: 60px;
    background-color: tomato;
    border-radius: 10px;
    font: 1.2em 'Bebas Neue', sans-serif;
    align-self: flex-end;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);
}

#contatoBtn>a{
    color: white;
}

#habilidades{
    padding: 20px;
    height: 400px;
    background-color: var(--cinza);
}

#habilidades>h2{
    font: 1.8em 'Bebas Neue', sans-serif;
    margin-bottom: 30px;
}

#habilidades>ul{
    font: 1.4em 'Bebas Neue', sans-serif;
    margin-bottom: 30px;
}

#habilidades h3{
    font-weight: normal;
    font-size: 1em;
}

#barraProgresso{
    width: 300px;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: var(--branco);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
}

#progressoHTML{
    position: absolute;
    width: 290px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--azulClaro);
    transform: translateY(-30px);
}

#progressoCSS{
    position: absolute;
    width: 250px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--azulClaro);
    transform: translateY(-30px);
}

#progressoJS{
    position: absolute;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--azulClaro);
    transform: translateY(-30px);
}

#outros{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    overflow: auto;
}

.tag{
    width: 80px;
    height: 30px;
    padding: 3px;
    border-radius: 2px;
    background-color: var(--preto);
    color: var(--branco);
    font: .8em 'Bebas Neue', sans-serif;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
}

#projetos{
    padding: 20px;
    height: 400px;
}

#projetos>h2{
    font: 1.8em 'Bebas Neue', sans-serif;
    margin-bottom: 30px;
}

#slider{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    overflow: auto;

}

#slider::-webkit-scrollbar {
    width: 0.5em;
}
  
#slider::-webkit-scrollbar-thumb {
    background-color: transparent;
}

#slider::-webkit-scrollbar-track {
    background-color: transparent;
}

.card{
    width: 200px;
    height: 280px;
    border-radius: 10px;
    background-color: var(--cinzaEscuro);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
}

footer{
    padding: 20px;
    height: 160px;
    background-color: var(--preto);
}

footer>h2{
    font: 1.8em 'Bebas Neue', sans-serif;
    color: var(--branco);
}

footer>a>img{
    margin: 20px 10px 20px 0px;
    cursor: pointer;
}