*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
}

header{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header.active{
    height: 20%;
}

header.active #container{
    height: 50%;
}

header.active #barra1{
    width: 100%;
    transform: rotate(45deg) translateY(.7em);
}

header.active #barra2{
    transform: rotate(-45deg) translateY(-.7em);
}

header.active nav{
    display: block;
}

#container{
    height: 100%;
    width: 100%;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home{
    height: 90%;
    width: 40%;
    padding: 1em;
    font-weight: bold;
    cursor: pointer;
}

#menu{
    height: 40%;
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    cursor: pointer;
}

.icone-menu{
    height: 10%;
    border-radius: 1em;
    background-color: darkslategray;
    transition: .5s;
}

#barra1{
    width: 80%;
}

#barra2{
    width: 100%;
}

nav{
    display: none;
    height: 50%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.030)
}

#nav-list{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.nav-items{
    text-align: end;
    padding: 1.5em;
    height: 100%;
    width: 100%;
}

.nav-items:hover{
    background-color: rgba(0, 0, 0, 0.116);
}

#sobre{
    width: 100%;
    height: 80%;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.055);
}

h1{
    width: 100%;
    margin-top: .5em;
    font-size: 3em;
}

#description{
    margin-top: 3em;
    height: 60%;
    width: 1005;
    display: flex;
    justify-content: space-between;
}

section p {
    margin-top: 1em;
    width: 52%;
    height: 80%;
}

#foto{
    width: 46%;
    height: 70%;
    background-color: darkslategray;
}